# Entornos / cache
__pycache__/
*.pyc
entorno/
entorno_linux/

# Pesos y Datasets (No subir pesos base ni datos pesados)
runs/
datasets/
yolo*.pt
SM64/

# Archivos multimedia originales y comprimidos
*.zip
*.jpg
*.webm
*.mp4
*.png


	
